h4{
    margin-top: -15px;
    margin-bottom: -15px;
    margin-right: 50px;
    margin-left: 50px;
    font-weight: bold;
    font-size: xx-large;
    color:aliceblue;
}

.navbar-expand{
    background-color: #312552;
}

a{
    color: #47B5FF;
}

a:hover{
    color: #DFF6FF ;
}

a:active{
    color: lawngreen;
}

a.logout:hover{
    color:tomato;
}


